# Entorno virtual en Python

venv/
.env

# Archivos del sistema macOS
.DS_Store

# Base de Datos Vectorial (se genera automáticamente)
vectorstore/

# PDFs subidos por el usuario
uploads/

# Archivos compilados de Python

__pycache__/
*.pyc 

# Archivos de metadatos macOS en volúmenes externos

._*